{% extends 'extends/base.html' %}
{% block title %}Welcome to FeedMe!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block content %}
  {% load friendshiptags %}
  
   <br>
   <br>
   <br>
   <br>
  	<p>Your friends:</p>
	<ul id="friend-list">
	{% for f in friends %}
     <li>
	  {{ f }}
     </li>
	{% endfor %}
	</ul>
	<br>

  	<p>New friend requests:</p>
	<ul id="friend-list">
   {% if not friend_requests %}
   <em>No new friend requests :(</em>
   {% else %}
	  {% for r in friend_requests %}
       <li>
	    Friend request from {{ r.from_user }}
       </li>
	  {% endfor %}
   {% endif %}
	</ul>
	<br>


{% endblock %}
{% block javascript %}{% endblock %}
