{% extends 'extends/base.html' %}
{% block title %}Welcome to FeedMe!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block content %}
  {% load friendshiptags %}
  
   <br>
   <br>
   <br>
   <br>
   <h4>All users:</h4>
	<ul id="user-list">
	{% for u in users %}
     <li>
	  {{ u }}
     </li>
	{% endfor %}
	</ul>
   <br>
   <h4>Send a Friend request!</h4>
		<form method='post' action='/friends/add/'>
		{% csrf_token %}
				<input type="text" name="username" placeholder="Username"/><br/>
				<input type="submit" name="submit"/>
			</form>

  	<h4>Your friends:</h4>
	<ul id="friend-list">
	{% for f in friends %}
     <li>
	  {{ f }}<form method='post' action='/friends/remove/'>
		{% csrf_token %}
				<input type="hidden" name="username" value="{{ f }}"/>
				<input type="submit" name="submit" value="Remove"/>
			</form>
     </li>
	{% endfor %}
	</ul>
	<br>

  	<h4>New friend requests:</h4>
	<ul id="request-list">
   {% if not friend_requests %}
   <em>No new friend requests :(</em>
   {% else %}
	  {% for r in friend_requests %}
       <li>
	    Friend request from {{ r.from_user }}
       <form method='post' action='/friends/accept/'>
	       {% csrf_token %}
          <input type="hidden" name="rid" value="{{r.id}}"/>
          <input type="submit" name="submit" value="Accept"/>
			</form>
         <form method='post' action='/friends/reject/'>
	       {% csrf_token %}
          <input type="hidden" name="rid" value="{{r.id}}"/>
          <input type="submit" name="submit" value="Reject"/>
			</form>

       </li>
	  {% endfor %}
   {% endif %}
	</ul>
	<br>
   <h4>Your pending sent requests:</h4>
	<ul id="sent-request-list">
   {% if not sent %}
   <em>No pending sent requests yay! :)</em>
   {% else %}
	  {% for s in sent %}
       <li>
	    {{ s.to_user }} 
       <form method='post' action='/friends/cancel/'>
	       {% csrf_token %}
          <input type="hidden" name="sid" value="{{s.id}}"/>
          <input type="submit" name="submit" value="Cancel"/>
		  </form>
       </li>
	  {% endfor %}
   {% endif %}
	</ul>
	<br>

<!--   <h4>Remove that annoying friend:</h4>
		<form method='post' action='/friends/remove/'>
		{% csrf_token %}
				<input type="text" name="username" placeholder="Username"/><br/>
				<input type="submit" name="submit"/>
			</form>
-->

{% endblock %}
{% block javascript %}{% endblock %}
