{% extends 'extends/base.html' %}

{% block title %}FeedMe!{% endblock %}

{% block stylesheets %}
	<link href="/static/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" media="screen">
    <!-- custom css pages -->
    <link href="/static/css/custom/feed.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    
	<div class="row">
        <!--Side bar-->
		<div class="col-md-3">
	        <div class="container">

	            <div class="well">
	            	<h4>My Feeds</h4>
					<div id="feedbut">
						{% for cat, feeds in feed_entries.iteritems %}
						{{ cat }}
						<ul class="feed-list">
						{% for entry in feeds %}
							<li>
								<button type="button" value="{{ entry.url }}" class="btn btn-default btn-xs navbar-btn" target="_blank">{{ entry.name }}</button>
								<a id="delete_feed" href="{{ entry.del_url }}">
									<!--<img src="/static/img/delete.png" alt="Delete Button" width="16" height="16">-->
                                    <span class="glyphicon glyphicon-remove"></span> 
								</a>
							</li>
						{% endfor %}
						</ul>
						{% endfor %}
					</div>
					<!-- </div> -->
				</div>
				
	            <!--Add Feed-->
	            <div class="well">
					<h4>Add a new Feed!</h4>
					<form method='post' action='/feeds/insertFeed/'>
					{% csrf_token %}
						<!-- <input type="text" name="username" placeholder="Username"/><br/> -->
						<input type="text" class="form-control" name="feedurl" placeholder="Website Url"/>
						<input type="submit" class="btn btn-primary btn-block" name="submit"/>
					</form>
				</div>

	            <!--Add Recommendations-->
	            <div class="well">
					<h4>Recommend to a Friend</h4>
					<form method='post' class="form-friend" action='/feeds/insertRecommendation/'>
					{% csrf_token %}
		                <input type="text" class="form-control" name="receiver" placeholder="Receiver"/>
						<input type="text" class="form-control" name="feedurl" placeholder="Website Url"/>
						<input type="submit" class="btn btn-primary btn-block" name="submit"/>
					</form>
				</div>

	            <!--Recommendations panel-->
	            <div class="well">
		            
		            <h4>My Recommendations</h4>
					<ul id="recommendations" class="feed-list">
					{% for entry in rec_entries %}
						<li>
							<button type="button" value="{{ entry.url }}" class="btn btn-default btn-xs navbar-btn" target="_blank">{{ entry.name }}</button>
							<a href="{{ entry.add_url }}">
								<!--<img src="/static/img/tick.ico" alt="Add Button" width="16" height="16">-->
                                <span class="glyphicon glyphicon-ok"></span> 
							</a>
							<a href="{{ entry.del_url }}">
								<!--<img src="/static/img/delete.png" alt="Delete Button" width="16" height="16">-->
                                <span class="glyphicon glyphicon-remove"></span> 
							</a>
						</li>
					{% endfor %}
					</ul>
				</div>
				
				<!--Friend Recommendation panel-->
				<div class="well">
					<h4>What your Friends are Following</h4>
					{% if friend_recs %}
						<ul id="friendrecs" class="feed-list">
						{% for entry in friend_recs %}
							<li>
								<button type="button" value="{{ entry.url }}" class="btn btn-default btn-xs navbar-btn" target="_blank">{{ entry.name }}</button>
								<a href="{{ entry.add_url }}">
									
                                    <span class="glyphicon glyphicon-ok"></span> 
								</a>
							</li>
						{% endfor %}
						</ul>
					{% else %}
						<p>Sorry, we have no recommendations for you right now.</p>
					{% endif %}
				</div>

				<!--User Recommendation panel-->
                <div class="well">
				    <h4>Recommended for You</h4>
				    {% if user_recs %}
					    <ul id="userrec" class="feed-list">
					    {% for entry in user_recs %}
						    <li>
							    <button type="button" value="{{ entry.url }}" class="btn btn-default btn-xs navbar-btn" target="_blank">{{ entry.name }}</button>
							    <a href="{{ entry.add_url }}">
								    <!--<img src="/static/img/tick.ico" alt="Add Button" width="16" height="16">-->
                                    <span class="glyphicon glyphicon-ok"></span> 
							    </a>
						    </li>
					    {% endfor %}
					    </ul>
				    {% else %}
					    <p>Sorry, we have no recommendations for you right now.</p>
				    {% endif %}
                </div>
				
	            <br>
                <!--Bugs-->
                <div class="well">
                    <button type="button" class="btn btn-primary btn-block" id="feedbackBut">Feedback!</button>
                </div>
			</div>
		</div>
        
	    <!--Where the RSS Feeds will load into-->
		<div id="feed-container" class="col-md-9 feed-container">
			<div id="feed-page" class="feed-reading"></div>
		</div>
			
	</div>
        
{% endblock %}

{% block javascript %}
	<!-- loaded scripts for animation & validation -->
	<script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>

	<script src="/static/js/jquery.validate.min.js"></script>
	<script src="/static/js/additional-methods.min.js"></script>
	<script src="/static/js/jquery.scrollExtend.min.js"></script>

	<!-- custom scripts -->
	<script src="/static/js/custom/feed_page.js"></script>
	
    <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5205bc975600d164"></script>
    <script type="text/javascript">
      addthis.layers({
        'theme' : 'transparent',
        'share' : {
          'position' : 'right',
          'numPreferredServices' : 5
        },  
        'whatsnext' : {},  
        'recommended' : {} 
      });
    </script>
    <!-- AddThis Smart Layers END -->
{% endblock %}
