{% extends 'extends/base.html' %}

{% block title %}FeedMe!{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}
    
	<div class="row">
        <!--Side bar-->
		<div class="col-md-3">

            <!--Side bar-->
            <h3>Welcome back, {{username | safe}}!</h3>
			<a href="/accounts/logout">Logout</a><br><br>
            <button id="fbTesting" type="button" value="hi">Hi</button>
            
            <!--Display my feeds-->
			<p>Check out your feeds:</p>
			<ul id="feedbut">
			{% for cat, feeds in feed_entries.iteritems %}
			{{ cat }}
				<ul>
				{% for entry in feeds %}
					<li>
						<button type="button" value="{{ entry.url }}" target="_blank">{{ entry.name }}</button>
						<a href="{{ entry.del_url }}">
							<img src="/static/img/delete.png" alt="Delete Button" width="16" height="16">
						</a>
					</li>
				{% endfor %}
				</ul>
			{% endfor %}
			</ul>
			<br>
			
            <!--Add Feed-->
			<h4>Add a new Feed!</h4>
			<form method='post' action='/feeds/insertFeed/'>
			{% csrf_token %}
				<!-- <input type="text" name="username" placeholder="Username"/><br/> -->
				<input type="text" name="feedurl" placeholder="Website Url"/><br/>
				<input type="submit" name="submit"/>
			</form>

            <!--Add Recommendations-->
			<br>
			<h4>Recommend a Feed to a Friend!</h4>
			<form method='post' action='/feeds/insertRecommendation/'>
			{% csrf_token %}
				<input type="text" name="sender" placeholder="Sender"/><br/>
                <input type="text" name="receiver" placeholder="Receiver"/><br/>
				<input type="text" name="feedurl" placeholder="Website Url"/><br/>
				<input type="submit" name="submit"/>
			</form>

            <!--Recommendations panel-->
            <br>
            <h4>My Recommendations</h4>
			<ul id="recommendations">
			{% for entry in rec_entries %}
				<li>
					<button type="button" value="{{ entry.url }}" target="_blank">{{ entry.name }}</button>
					<a href="{{ entry.add_url }}">
						<img src="/static/img/tick.ico" alt="Add Button" width="16" height="16">
					</a>
					<a href="{{ entry.del_url }}">
						<img src="/static/img/delete.png" alt="Delete Button" width="16" height="16">
					</a>
				</li>
			{% endfor %}
			</ul>
			
			<!--Friend Recommendation panel-->
			<br>
			<h4>What your Friends are Following</h4>
			{% if friend_recs %}
				<ul id="friendrecs">
				{% for entry in friend_recs %}
					<li>
						<button type="button" value="{{ entry.url }}" target="_blank">{{ entry.name }}</button>
						<a href="{{ entry.add_url }}">
							<img src="/static/img/tick.ico" alt="Add Button" width="16" height="16">
						</a>
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>Sorry, we have no recommendations for you right now.</p>
			{% endif %}
			
			<!--User Recommendation panel-->
			<br>
			<h4>Recommended for You</h4>
			{% if user_recs %}
				<ul id="userrec">
				{% for entry in user_recs %}
					<li>
						<button type="button" value="{{ entry.url }}" target="_blank">{{ entry.name }}</button>
						<a href="{{ entry.add_url }}">
							<img src="/static/img/tick.ico" alt="Add Button" width="16" height="16">
						</a>
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>Sorry, we have no recommendations for you right now.</p>
			{% endif %}
			
            <br>
		</div>
	    
        <!--Where the RSS Feeds will load into-->
<div class="col-md-9" id="feedpage"> <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="www.google.com">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>

<!-- AddThis Button END -->       
<!-- AddThis Button BEGIN -->
<!-- <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="www.youtube.com">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div> -->
<!-- AddThis Button END -->                  

</div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       	
			
		</div>
        
{% endblock %}

{% block javascript %}
	<script type='text/javascript'>
		$(document).ready(function(){
	        <!--Used to display feeds on current page-->
			$("#feedbut button").click(function(e){
				$("#feedpage").load($(this).attr("value"));
                
			});
            $("#recommendations button").click(function(e){
				$("#feedpage").load($(this).attr("value"));
			});
		});
	</script>
    <!-- AddThis Smart Layers BEGIN -->
    <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5205bc975600d164"></script>
    <script type="text/javascript">
      addthis.layers({
        'theme' : 'transparent',
        'share' : {
          'position' : 'right',
          'numPreferredServices' : 5
        },  
        'whatsnext' : {},  
        'recommended' : {} 
      });
    </script>
    <!-- AddThis Smart Layers END -->
{% endblock %}
