<!DOCTYPE html>
<html>
<head>
<title>FeedMe!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/feeds/bootstrap/css/bootstrap.css" type="text/css/">
	<link rel="stylesheet" href="/static/feeds/bootstrap/css/bootstrap-responsive.css" type="text/css/">
	
	
</head>

<body>
	<div class="row">
		<a href='/feeds'>Feeds</a> 
		<h1>Feed Test</h1><br>

        <!--Side bar-->
		<div class="span4">

            <!--Display my feeds-->
			<ul id="feedbut">
				{{lover | safe}}
			</ul>

            <!--Add Feed-->
			<h1>Add Feed!</h1>
			<form method='post' action='/feeds/insertFeed'>
			{% csrf_token %}
				<input type="text" name="username" placeholder="Username"/><br/>
				<input type="text" name="feedurl" placeholder="Website Url"/><br/>
				<br/><br/>
				<input type="submit" name="submit"/>
			</form>

            <!--Remove Feed-->
			<h1>Remove Feed!</h1>
			<form method='post' action='/feeds/deleteFeed'>
			{% csrf_token %}
				<input type="text" name="username" placeholder="Username"/><br/>
				<input type="text" name="feedurl" placeholder="Website Url"/><br/>
				<br/><br/>
				<input type="submit" name="submit"/>
			</form>

            <!--Recommendations panel-->
            <br>
            <h1>My Recommendations</h1>
            <ul id="recommendations">
				{{recommendations | safe}}
			</ul>
            <br>


		<!--Bitcoin, coinbase-->
		<a class="coinbase-button" data-code="b97ef89f995ccdd3168978db39edb526" data-button-style="donation_small" href="https://coinbase.com/checkouts/b97ef89f995ccdd3168978db39edb526">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>

		<!--stripe-->
		<form action="/feeds/billStripeToken" method="POST">
		{% csrf_token %}
		<script
		    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
		    data-key="pk_test_muKy9OSJ9uqulyQOq8lCpvng"
		    data-amount="2000"
		    data-name="Demo Site"
		    data-description="2 widgets ($20.00)"
		    data-image="/128x128.png">
		  </script>
		</form>
		</div>
	
        <!--Where the RSS Feeds will load into-->
		<div class="span8" id="feedpage"></div>

        <!--All the scripts-->
		<script src="/static/feeds/jquery-1.10.2.js"></script>
		<script src="/static/feeds/jquery.pjax.js"></script>
		<script src="/static/feeds/bootstrap/js/bootstrap.js"></script>
		<script type='text/javascript'>
			$(document).ready(function(){
				$("#feedbut button").click(function(e){
					$("#feedpage").load($(this).attr("value"));
				});
			});
		</script>
	</div>
</body>

</html>
