hr {
	border-top: 1.5px solid #bbb;
}

.feed-list {
  list-style-type: none;
  padding-left: 0px;
}

.feed-list li{
  margin-bottom: -12px;
}

.feed-container {
  max-height: 700px;
  overflow: auto;
}

.feed-reading {
  max-width: 740px;
  margin: 0px auto;
  
}

.tab{
	border:1px solid #666; 
    padding: 10px; 
    cursor: pointer;
}

.content{
	display: block;
}

.well{
    background-color: #FCFCFC;
}

.add-feed-btn {
	width: 100%;
}

.friend-rec-btn {
	width: 100%;
}

.my-rec-btn {
	width: 100%;
}