.category-list {
  list-style-type: none;
  padding-left: 0px;
}

.category-list li{
  margin-bottom: -12px;
}

.feed-container {
  overflow:auto;
}

.feed-reading {
  max-width: 740px;
  margin: 0px auto;
}

