
 /*for the sign-in */
.form-control input{
  margin-bottom: 5px;
  margin-top: 5px;
}

.form-signin {
  max-width: 206px;
  margin:0px auto;
  display: block;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input{
  margin-bottom: 5px;
}

/* for the rego */

.rego-block{

}

.form-rego {
  max-width: 206px;
  margin:0px auto;
 }

.form-rego .form-rego-heading,
.form-rego .checkbox {
  margin-bottom: 10px;
}

.form-rego .checkbox {
  font-weight: normal;
}

.form-rego .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-rego .form-control:focus {
  z-index: 2;
}

.form-rego input {
  margin-bottom: 5px;
}

.form-rego label.error {
  color: #FF4040;
  font-size: 12px;
  font-weight: 400;
}

.well {
  background-color:rgba(255,255,255,0.0);
  border:0px;
}

h2 {
  color: #fff;
}
